* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    min-height: 100%;
    background: #011e36;
}

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #007de7;
    transition: 0.5s;
    overflow: hidden;
}

.navigation:hover {
    width: 250px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}