* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.content {
    width: 100%;
    height: 80vh;
    transition: 0.2s;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #011e36;
}

h1 {
    font-size: 60px;
    color: #fff;
    margin: 2.5rem;
}

p {
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
    color: #fff;
}

p:hover {
    transform: translateY(3px);
}

.card-news {
    width: 50%;
    position: absolute;
    top: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    left: 25%;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
    background: #F5F1F8;
}

.card-news img {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;

}

.card-news:hover {
    transform: translateY(4px);
}

article {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.1rem;
    text-align: left;
    padding: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    margin-top: 0.15rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

@media screen and (max-width: 789px) {
    body {
        font-size: auto;
        overflow: hidden;
    }

    .card-news{
        align-items: center;
   }

   .content {
       align-items: center;
       justify-items: center;
       /* margin: 5rem 0; */
   }

   .card-news {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 45%;
        margin-left: -100px;
        align-items: center;
        justify-content: center;
        border: 0;

    }   

 

    .card-news img {
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
        border: 0;
    
    }

    article {
        text-align: center;
    }
    

}


@media screen and (max-width: 420px) {
    body {
        font-size: auto;
        overflow: hidden;
    }

    section {
        height: 30vh;
    }    

    .card-news{
        align-items: center;
   }

   .content {
       align-items: center;
       justify-items: center;
       /* margin: 5rem 0; */
   }

   .card-news {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 45%;
        margin-left: -100px;
        align-items: center;
        justify-content: center;
        border: 0;

    }   

 

    .card-news img {
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
        border: 0;
    
    }

    article {
        text-align: center;
    }
    

}
